<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simplemobiletools.flashlight"
    android:installLocation="auto">

    <uses-permission
        android:name="android.permission.CAMERA"
        android:maxSdkVersion="23" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove" />

    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.BrightDisplayActivity"
            android:exported="false"
            android:label="@string/bright_display"
            android:theme="@style/FullScreenTheme" />

        <receiver
            android:name=".helpers.MyWidgetTorchProvider"
            android:exported="true"
            android:icon="@drawable/ic_flashlight"
            android:label="@string/app_launcher_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_torch" />
        </receiver>

        <receiver
            android:name=".helpers.MyWidgetBrightDisplayProvider"
            android:exported="true"
            android:icon="@drawable/ic_bright_display"
            android:label="@string/bright_display">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_bright_display" />
        </receiver>

        <service
            android:name=".helpers.MyTileService"
            android:exported="true"
            android:icon="@drawable/img_torch_widget_preview"
            android:label="@string/app_launcher_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity-alias
            android:name=".activities.SplashActivity.Orange"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:targetActivity=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
